network-visualization {
  display: block;
  aspect-ratio: 1;
  background-color: var(--background-color);
  color: var(--foreground-color);
  position: relative;
}

network-visualization network-node {
  display: none;
}

network-visualization network-edge {
  display: none;
}

network-visualization network-group {
  display: none;
}

network-visualization .node-label {
  background-color: var(--background-color);
  color: var(--foreground-color);
}